# Ignore local config
config.yaml

# Ignore dev/test configs
*.local.yaml
*.example.yaml

# Ignore Git stuff
.git
.gitignore

# Ignore Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Ignore IDE/editor settings
.vscode/
.idea/